/* apenas para telas grande */
@media screen and (min-width:990px){
    .navbar-brand{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -49px;
    }
    .nav-link:hover, .nav-link.active{
        color: #6c584c;
        background-color: #dde5b6;
        transition: all 0.8s;
    }
    .configNavBar{
        height: 100px;
    }
    li.nav-item a{
        padding: 38px 0;;
    } 
}
html, body{
    /* display: flex; */
    height: 100%;
    position: relative;
    /* flex-direction: column; */
}
main{
    padding: 80px 0;
} 
.bg-cinza{
    background-color: #dde5b6;
}
.icofont-navigation-menu{
    color: #000;
}
/* limitar altura do card*/
/* .card-img{
    max-height: 250px;
    overflow: hidden;
} */

.page-footer{
    position: fixed;
    bottom: 0;
    background-color: #dde5b6;
    width: 100%;
    height: 60px;
}
.page-footer .footer-copyright{
    padding: 20px 0;
}
.footer-copyright{
    color: #000;
    text-decoration: none;
}
a.right{
    float: right;
}
/*Aba Empresa*/
.tituloPadrao{
    color: #6c584c;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-bottom: 50px;
}
.backDescription{
    padding: 0;
    position: absolute;
    width: 95%;
    left: 2.5%;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.5);
    color: #000;
    font-size: 18px;
}
/*Aba produtos*/
.productType{
    text-decoration: none;
    color: #fff;
}
.productType:hover{
    color: #fff;
}
.firstCard{
    margin-top: 100px;
}